<div class="categories">
  <h1 class="categories-title">Categories</h1>

  <div class="movies">
    <ul class="filter">
      <li [ngClass]="{'active': genreActive === ''}" (click)="filterMovies('')" class="filter-item">All</li>
      <li [ngClass]="{'active': genreActive === genre}" (click)="filterMovies(genre)" *ngFor="let genre of genres" class="filter-item">{{genre}}</li>
    </ul>
    <div class="movies-list">
      <app-movie-card class="movie-item animated fadeIn" [movie]="movie" *ngFor="let movie of moviesArr"></app-movie-card>
    </div>
  </div>
</div>
