<div class="categories">
  <h1 class="categories-title">Categories</h1>

  <div class="movies">
    <ul class="filter">
      <li [ngClass]="{'active': genre == ''}" (click)="filterMovies('')" class="filter-item">All</li>
      <li [ngClass]="{'active': genre == 'Drama'}" (click)="filterMovies('Drama')" class="filter-item">Drama</li>
      <li [ngClass]="{'active': genre == 'Adventure'}" (click)="filterMovies('Adventure')" class="filter-item">Adventure</li>
      <li [ngClass]="{'active': genre == 'Sci-Fi'}" (click)="filterMovies('Sci-Fi')" class="filter-item">Sci-Fi</li>
      <li [ngClass]="{'active': genre == 'Thriller'}" (click)="filterMovies('Thriller')" class="filter-item">Thriller</li>
      <li [ngClass]="{'active': genre == 'Action'}" (click)="filterMovies('Action')" class="filter-item">Action</li>
    </ul>
    <app-movie-card class="movies-list" [movies]="moviesArr"></app-movie-card>
  </div>
</div>
