<section class="banner">
  <swiper [pagination]="{ clickable: true }" [autoplay]="{delay: 5000}">
    <ng-template swiperSlide>
      <div class="banner-slide">
        <img src="assets/img/bg/banner1.jpg" alt="" class="banner-img">
        <div class="banner-content">
          <span class="banner-text animated fadeIn">Programa tu fin de semana con <span class="bold">Movies</span></span> <br>
          <span class="banner-text animated fadeIn">escoge tus peliculas favorítas</span>
          </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="banner-slide">
        <img src="assets/img/bg/banner1.jpg" alt="" class="banner-img">
        <div class="banner-content">
          <span class="banner-text">Programa tu fin de semana con <span class="bold">Movies</span></span> <br>
          <span class="banner-text">escoge tus peliculas favorítas</span>
          </div>
      </div>
    </ng-template>
  </swiper>
</section>

<section class="movies">
  <ul class="filter">
    <li [ngClass]="{'active': genreActive === ''}" (click)="filterMovies('')" class="filter-item">All</li>
    <li [ngClass]="{'active': genreActive === genre}" (click)="filterMovies(genre)" *ngFor="let genre of genres" class="filter-item">{{genre}}</li>
  </ul>
  <div class="movies-list">
    <app-movie-card class="movie-item animated fadeIn" [movie]="movie" *ngFor="let movie of moviesArr"></app-movie-card>
  </div>
</section>