<div class="movie animated fadeIn">
  <app-loading class="loading" *ngIf="loading"></app-loading>
  <div *ngIf="!loading" class="movie-content">
    <div class="movie-poster">
      <img [src]="movie.Poster" alt="" class="movie-img">
    </div>
    <div class="movie-info">
      <h2 class="movie-title">{{movie.Title | uppercase}} <span class="movie-year">({{movie.Year}})</span></h2>
      <p class="movie-description">{{movie.Plot}}</p>
      <p class="movie-details"><strong>Director: </strong>{{movie.Director}}</p>
      <p class="movie-details"><strong>Writers: </strong>{{movie.Writer}}</p>
      <p class="movie-details"><strong>Actors: </strong>{{movie.Actors}}</p>
      <button (click)="saveMovie(movie.imdbID)" class="movie-button" type="button"><i class="fas fa-star"></i> Agregar a favoritos</button>
    </div>
  </div>
</div>

<div class="message animated fadeIn" *ngIf="addFavorite">
  <div class="message-content">
    <button (click)="closeMessage()" class="message-close">x</button>
    <p class="message-text">You've added <strong>{{movie.Title}}</strong> to your favorites list</p>
  </div>
</div>