.favorites {
  width: 90%;
  margin: 40px auto;
  .favorites-title {
    text-align: center;
    font-size: 40px;
  }
  .movies-list {
    margin: 50px 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .movie-item {
    flex-basis: 24%;
    margin: 0 .5% 30px .5%;;
  }
  .message {
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 30px;
  }
}

@media screen and (max-width: 575.98px) {
  .favorites {
    margin: 20px auto;
    .movies-list {
      margin: 30px 0 0 0;
    }
    .movie-item {
      flex-basis: 48%;
      margin: 0 1% 15px 1%;
    }
  }
}